:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 36px;
    transition: all ease 0.2s;

    &:hover {
      transform: rotate(360deg);
    }
  }

  h1 {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
