<div class="container">
  <h1 class="title">Congrats, your reservation is now confirmed!</h1>
  <app-reservation-details [reservation]="reservationService.getReservation() | async"></app-reservation-details>
  <div class="add">
    <button mat-icon-button color="primary">
      <mat-icon>event_available</mat-icon>
    </button>
    <p>Add to calendar</p>
  </div>
  <div class="add" [routerLink]="['/reservation']">
    <button mat-icon-button color="primary">
      <mat-icon>add_circle</mat-icon>
    </button>
    <p>Make another reservation</p>
  </div>
</div>
