<mat-card class="card">
  <img class="cont-img" src="assets/img/distribuitor.jpg" alt="" />

  <mat-card-content class="info">
    <p>carrer de maria isabel. Vilanova</p>
    <mat-card-title>
      L`hort de la Lourdes
    </mat-card-title>

    <div class="categories">
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <img class="cont-img" src="assets/img/distribuitor.jpg" alt="" />

  <mat-card-content class="info">
    <p>carrer de maria isabel. Vilanova</p>
    <mat-card-title>
      L`hort de la Lourdes
    </mat-card-title>

    <div class="categories">
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <img class="cont-img" src="assets/img/distribuitor.jpg" alt="" />

  <mat-card-content class="info">
    <p>carrer de maria isabel. Vilanova</p>
    <mat-card-title>
      L`hort de la Lourdes
    </mat-card-title>

    <div class="categories">
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
      <mat-icon>eco</mat-icon>
    </div>
  </mat-card-content>
</mat-card>
