<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    (click)="drawer.toggle()"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'over'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row class="first-header-row">
        <ng-container *ngIf="false">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon" class="icon">menu</mat-icon>
          </button>
        </ng-container>
        <app-header-logo class="logo"></app-header-logo>
        <app-serach-by-area></app-serach-by-area>
        <span class="flex-spacer"></span>
        <div class="global-widgets">
          <div class="menu">SignUp</div>
          <div class="menu">LogIn</div>
          <app-header-cart></app-header-cart>
          <app-header-language-selector></app-header-language-selector>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
