.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

  .sidenav-items {
    span {
      margin-left: 60px;
    }

    a:hover {
      background-color: lightblue;
    }
  }
}

.mat-toolbar {
  background: inherit;
  position: fixed;
  top: 0;
  z-index: 1;
  background: rgba(221, 221, 221, 0.2);
  .mat-toolbar-row {
    height: 72px;
    .logo {
      margin-right: 100px;
    }

    .global-widgets {
      display: flex;
      .menu {
        margin: 0 16px;
      }
    }
  }
}
