.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

  .sidenav-items {
    span {
      margin-left: 60px;
    }

    a:hover {
      background-color: lightblue;
    }
  }
}

.mat-toolbar {
  background: inherit;
  background-color: rgb(236, 178, 16);
  position: sticky;
  top: 0;
  z-index: 1;
}
