.conteiner {
  width: 100%;
  height: 100vh;
  .img {
    height: 60%;
    width: 100%;
    background: url('../../../../assets/img/vegetables-stand.jpg');
    background-position: center center;
    background-size: cover;
  }
  .description {
    background-color: black;
    color: white;
    padding: 20px;
    h1 {
      font-size: 35px;
      font-family: 'Playfair Display SC', serif;
    }
    h2 {
      font-size: 20px;
      color: white;
      font-family: 'Cabin, sans-serif';
    }

    h2 span {
      font-size: 25px;
      color: rgb(172, 223, 113);
      font-family: 'Cabin, sans-serif';
    }

    p {
      color: rgb(172, 223, 113);
      margin: 0;
      font-family: 'Lora', serif;
    }
  }
}

@media screen and (min-width: 600px) {
  .conteiner {
    display: flex;
    .img {
      height: 100vh;
    }
    .description {
      width: 40%;
      padding-top: 40px;
      h1 {
        font-size: 45px;
        margin-bottom: 40px;
        line-height: 0.8;
      }
      p {
        text-align: justify;
      }
      h2 {
        margin-top: 10px;
        font-size: 30px;
      }
      h2 span {
        font-size: 35px;
      }
    }
  }
}

// @media screen and (min-width: 1024px) {
//   .logo {
//     max-width: 400px;
//   }
// }
