:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;

  .mat-card {
    width: 35%;
    height: 60%;
    border-radius: 15px;

    .mat-card-title {
      padding: 30px;
      font-size: 30px;
    }

    .mat-card-subtitle {
      padding: 30px;
      font-size: 25px;
    }

    &.roleCardSeller {
      background-color: blue;
    }

    &.roleCardBuyer {
    }
  }
}
