<div class="container">
  <h1>Enter your reservation details:</h1>
  <form [formGroup]="reservationForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label for="name">Place</mat-label>
      <input formControlName="place" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="name">Enter your name</mat-label>
      <input formControlName="name" matInput type="text" />
      <mat-error *ngIf="name.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="name.hasError('minlength')"
        >Name should have min {{ name.errors.minlength.requiredLength }} characters
      </mat-error>
      <mat-error *ngIf="name.hasError('maxlength')"
        >Name should have max {{ name.errors.maxlength.requiredLength }} characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="serviceType">Type of Service</mat-label>
      <mat-select (selectionChange)="onServiceChange()" formControlName="serviceType">
        <mat-option *ngFor="let availableService of availableServices" [value]="availableService">
          {{ availableService.displayName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="serviceType.hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="employee">Employee</mat-label>
      <mat-select (selectionChange)="onEmployeeChange()" formControlName="employee">
        <mat-option *ngFor="let availableEmployee of availableEmployees" [value]="availableEmployee">
          {{ availableEmployee.displayName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employee.hasError('required')">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input
        (dateChange)="onDateChange()"
        [matDatepicker]="picker"
        [max]="maxDate"
        [min]="minDate"
        formControlName="date"
        matInput
      />
      <mat-error *ngIf="date.hasError('required')">This field is required</mat-error>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Time</mat-label>
      <mat-select formControlName="time">
        <mat-option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot">{{
          getReadableTime(timeSlot)
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="time.hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <button
      (click)="saveReservation(reservationForm.getRawValue())"
      [disabled]="reservationForm.invalid"
      class="button"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Create reservation
    </button>
  </form>
</div>
