<div class="container">
  <h1>Make your reservation</h1>
  <form class="form" [formGroup]="reservationForm">
    <mat-form-field appearance="fill">
      <mat-label for="name">Enter your name</mat-label>
      <input matInput formControlName="name" type="text" />
      <mat-error *ngIf="name.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="name.hasError('minlength')"
        >Name should have min {{ name.errors.minlength.requiredLength }} characters</mat-error
      >
      <mat-error *ngIf="name.hasError('maxlength')"
        >Name should have max {{ name.errors.maxlength.requiredLength }} characters</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="serviceType">Type of Service</mat-label>
      <mat-select (selectionChange)="onServiceChange()" formControlName="serviceType">
        <mat-option value="Corte de Cabello">Corte de Cabello</mat-option>
        <mat-option value="Afeitado">Afeitado</mat-option>
        <mat-option value="Tinte">Tinte</mat-option>
        <mat-option value="Mechas">Mechas</mat-option>
        <mat-option value="Pack">Pack</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="employee">Any employee</mat-label>
      <mat-select (selectionChange)="onEmployeeChange()" formControlName="employee">
        <mat-option value="Jordi">Jordi</mat-option>
        <mat-option value="Manuel">Manuel</mat-option>
        <mat-option value="Alejandro">Alejandro</mat-option>
      </mat-select>
      <mat-error *ngIf="employee.hasError('required')">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="date">Select Date</mat-label>
      <input (change)="onDateChange()" formControlName="date" matInput type="date" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="time">Select Time</mat-label>
      <input formControlName="time" equired matInput type="time" />
    </mat-form-field>
    <button
      class="button"
      (click)="saveReservation(reservationForm.value)"
      mat-stroked-button
      color="primary"
      type="submit"
    >
      Reservar
    </button>
  </form>
</div>
